.button{
    height: 32px;
    padding: 8px;
    background-color: #185473;
    border: 1px solid #04345c;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    box-shadow: 0px 8px 15px rgba(0,0,0,0.2);
    transition: all 0.3s ease-out 0s;
    cursor: pointer;
    outline: none;
    color: white;
    margin: 18px;
    max-width: 200px;
    font-size: 18px;
    font-weight: 600;
}

.button:hover {
    background-color: #004c72;
    transform: translateY(-4px);
}
.button:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.4);
    /* Lowering the shadow */
}

.secondary{
    background-color: #e3e3e3;
    color: #185473;
    border: 1px solid #d4d4d4;
    border: 1px solid #04345c;
}

.secondary:hover {
    background-color: #f3f3f3;
    transform: translateY(-4px);
}

.secondary:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.4);
    /* Lowering the shadow */
}

.icon{
    background-color: #e3e3e3;
    color: black;
    border: 1px solid #d4d4d4;
    min-width: 0;

}